/* Defaults */
:root {
    --color-scheme-background: #ffffffff;
    --color-scheme-text-color: #000000ff;
}

/* Light mode */
@media (prefers-color-scheme: light) {

    body {
        background: #fff;
        color:  #222;
        transition: background-color .5s;
    }

    input,textarea,button,select,option {
        background-color: #fff;
        color: #222;
        border: 1px solid #7775;
        border-radius: 2pt;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

    body {
        background: #222;
        color: #ddd;
        transition: background-color .5s;
    }

    input,textarea,button,select,option {
        background-color: #333;
        color: #ddd;
        border: 1px solid #7775;
        border-radius: 2pt;
    }
}
