/* Layout for screens above 800 pixels */

body {
    display: grid;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 4pt;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer"
    "toolbar  toolbar  toolbar";
}

aside#sidebar {
    grid-area: sidebar;
}

section#container {
    grid-area: content;
    padding: 4pt;
}

/* Site navigation */
nav#site {
    clear: both;
    min-height: 3em;
    padding: 4pt;

    div.go_to_content {
        width: 35%;
        float: left;
        margin: 0;
        margin-top: 4pt;

        a {
            padding: 0;
            margin: 0;
            padding-left: 2pt;
            padding-right: 2pt;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        margin-top: 4pt;
        float: left;
        width: 65%;
        text-align: right;

        li {
            padding: 0;
            margin: 0;
            padding-left: 2pt;
            padding-right: 2pt;
            min-width: 13%;
        }
    }

}

div.searchbox {
    text-align: right;
    margin-top: 8pt;
    clear: both;
}

nav#site form {
    display: block;
    height: 3em;
    margin-top: 4pt;
    clear: both;
}

#site {
    grid-area: header;
}

footer#bigfooter {
    margin: 2em auto;
    width: 100%;
    display: flex;

    h1 {
        font-size: small;
        border-bottom: 1pt solid #77777755;
    }

    nav, section {
        width: 24%;
        margin-right: 1%;
    }

    nav#last_comments ul li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    nav ul, section ul,
    nav ul li, section ul li {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: small;
    }

    #about_us {
        clear: right;
        height: min-content;
    }

}

div#toolbar {

    #toolbar_items {
        width: 39%;
        margin-right: 1%;
    }

    #toolbar_alt_items {
        width: 39%;
        margin-right: 1%;
    }

    #toolbar_threshold {
        width: 19%;
        text-align: right;
    }
}

div.searchbox {
    width: 400px;
    float: right;
}
