/* Layout for screens between 500 and 800 pixels (e.g. phone in landcape) */
body {
    display: grid;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 30% 35% 35%;
    grid-template-areas:
    "header header header"
    "sidebar sidebar sidebar"
    "content content content"
    "footer footer footer"
    "toolbar toolbar toolbar";
}

aside#sidebar {
    grid-area: sidebar;
    padding: 4pt;
}

section#container {
    grid-area: content;
}

article div.figures {
    display:inline-block !important;
    float: right;
    padding: 0;
    border: 1px solid #7775;
    border-radius: 4pt;
    width: 8%;
    margin-left: 1%;
    text-align: center;
    font-size: smaller;
    box-shadow: 0px 0px 3px 3px #7775;
}

article div.figures figure.datePourCss {
    white-space: nowrap;
}

article div.figures figure.datePourCss div.annee {
    display: none;
}

article div.figures figure.datePourCss div.annee {
    display: block;
}


article div.figures figure.datePourCss * {
    display: inline-block;
    margin-left: 2pt;
}

article div.figures figure.image {
    display: none;
}

article figure.score {
    margin: 4pt;
    border-bottom: 1px solid #7775;
}

article div.figures * {
    margin: 0;
}

article a[rel=license] {
    display: none;
}

article input {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
}

article input:hover {
    cursor: pointer;
}

article input {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: underline;
}

article input:hover {
    cursor: pointer;
}

article div.meta {
    width: 90%;
    float: left;
}

article div.meta {
    display: block !important;
    font-size: smaller;
    margin-bottom: 2em;
}

main article div.tags * {
    display: inline-block;
    padding: 0;
    font-size: inherit;
}

main article div.tags input {
    display: none;
}

main article div.meta * {
    margin: 1pt auto;
}

main article div.meta div.tag_in_place {
}

div.tags div.tag_in_place:before {
    content: " 🏷"
}

header#branding {
    width: 50%;
    float: left;
    clear: left;
}

div.login {
    width: 50%;
    float: left;
}

nav#site ul {
    margin-inline: 0;
    padding-inline: 4pt;
    text-indent: 0;
    text-align: center;
}

nav#site ul li {
    width: 30%;
    margin-inline: 1%;
    margin-block: 4pt;
    display: inline-block;
    text-indent: 0;
}

nav#site ul li:nth-child(3) {
    margin-right: 0;
}

nav#site ul li:nth-child(6) {
    margin-right: 0;
}

#sections_box ul {
    columns: 2;
}

div.go_to_content {
    padding: 4pt;
    text-align: center;
    margin-inline: 4pt;
}

div.go_to_content a:first-child {
    width: 48%;
    margin-right: 1%;
}

div.go_to_content a {
    width: 48%;
    margin-block: 4pt;
}

nav.pagination span {
    margin-block: 4pt !important;
}

nav.pagination {
    text-align: justify;
}



div#toolbar a {
    width: 4pt !important;
    padding-inline: 4pt !important;
}

div#toolbar {
    font-size: smaller;
}


nav.pagination span {
    margin-block: 4pt !important;
}

nav.pagination {
    text-align: justify;
}



footer#bigfooter nav ul, footer#bigfooter section ul {
    columns: 2;
}

footer#bigfooter nav h1, footer#bigfooter section h1 {
    text-align: center;
}

div#toolbar a {
    width: 4pt !important;
    padding-inline: 4pt !important;
}

div#toolbar {
    font-size: smaller;
}
