body {
    display: grid;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "header header"
    "subheader subheader"
    "content content"
    "footer footer"
    "sidebar sidebar"
    "toolbar toolbar";
}

aside#sidebar {
    grid-area: subheader;
}

section#container {
    grid-area: content;
}

body {
    padding: 4pt;
}

article {

    div.meta {
        width: 86%;
        float: left;
    }

    div.figures {
        width: 13%;
        margin: 0;
    }

    /* Some links... */
    div.content {
        overflow: hidden;
    }
}

nav#site {

    ul {
        padding: 0;
        text-align: center;
    }

    li {
        width: 29%;
        margin-bottom: 4pt;
        margin-right: 1%;
    }
}

div.go_to_content {

    padding: 0;
    text-align: center;

    a {
        width: 45.5%;
        margin: 0;
        margin-right: 1%;
    }
}

div.searchbox {
    text-align: center;

    input {
        border: 1px solid #7772;
        border-radius: 2pt;
        padding-inline: 4pt;
        padding-block: 2pt;
    }
}
