/* Styles */

pre {
    border: 1pt solid #7775;
    border-radius: 4pt;
    padding: 4pt;
    max-width: 90%;
    margin: 1em 5%;
    overflow: auto;
}

main#contents div.body div {
    margin: 2pt;
    padding: 2pt;
    font-size: smaller;
}

div#comments
{
    ul, li {
        margin: 8pt 0;
        padding-left: 8pt;
        list-style-type: none;
        position: relative;
    }

    li.comment {

        padding: 1pt;
        padding-left: 2pt;

        figure.image {
            position: absolute;
            right: 0%;
            top: 0%;
            width: 3em;
            height: 3em;
            margin-right: 2pt;
            margin-top: 2pt;

            img {
                float: none !important;
                max-width: 100%;
                max-height: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }

    h2 {
        margin-right: 2em;
    }

}
